<div class="sign_form">
    <%= form_with url: "", local: true do |f| %>
        <div class="sign_email">
            <%= f.label :email, "email" %>
            <p><%= f.email_field :email %></p>
        </div>
        <div class="sign_password">
            <%= f.label :password_digest, "password" %>
            <p><%= f.password_field :password_digest %></p>
        </div>
        <div class="sign_btn">
            <%= f.submit "singin" %>
        </div>
    <% end %>
    <%= link_to("signup", "signup") %>
</div>