<h1>in team schedule</h1>
<%= form_tag("/team/schedule/2", method: :post) do %>
    <% if @schedule1 == nil && @schedule2 == nil %>
        <% if @tomorrow < 25 %>
            <h2>this month</h2>
            <% @range1.each do |date1| %>
                <p>
                <%= date1 %>
                <input type="radio" name="<%= date1 %>_1" value=1>can go
                <input type="radio" name="<%= date1 %>_1" value=0>maybe can go
                </p>
            <% end %>
        <% end %>
        <h1>next month</h1>
        <% @range2.each do |date2| %>
            <p>
            <%= date2 %>
            <input type="radio" name="<%= date2 %>_2" value=1>can go
            <input type="radio" name="<%= date2 %>_2" value=0>maybe can go
            </p>
        <% end %>
        <input type="submit" value="regist">
    <% elsif @schedule1 == nil && @schedule2 != nil %>
        <h2>next month</h2>
        <% @range2.each do |date2| %>
            <p>
            <%= date2 %>
            <input type="radio" name="<%= date2 %>_1" value=1>can go
            <input type="radio" name="<%= date2 %>_1" value=0>maybe can go
            </p>
        <% end %>
        <input type="submit" value="regist">
    <% elsif @schedule1 != nil && @schedule2 == nil %>
        <h1>next month</h1>
        <% @range2.each do |date2| %>
            <p>
            <%= date2 %>
            <input type="radio" name="<%= date2 %>_2" value=1>can go
            <input type="radio" name="<%= date2 %>_2" value=0>maybe can go
            </p>
        <% end %>
        <input type="submit" value="regist">
    <% else %>
        <h1>you are already registed</h1>
    <% end %>
<% end %>