<h1>チームを探す</h1>
<div class="search_form">
    <%= form_with url: match_path, method: :get, local: true do |f| %>
        <%= f.label :name, "チーム名" %>
        <%= f.text_field :name%>
        <%= f.label :active_area, "活動拠点" %>
        <%= f.select :active_area, Team.active_areas.keys %>
        <%= f.label :date, "希望日" %>
        <%= f.date_field("date", min: @tomorrow, max: @end_of_next_month, size: "30") %>
        <%= f.submit "探す" %>
    <% end %>
</div>
<% if @teams && @teams != [] %>
    <% @teams.each do |team| %>
        <div class="teams">
            <h3><%= link_to(team.name, "/team/#{team.id}") %></h3>
            <p><%= team.active_area %></p>
        </div>
    <% end %>
<% else %>
    <h3>not exiting</h3>
<% end %>