<h1>チームを作る</h1>
<%= form_with url: "/team/create", local: true do |f|%>
    <p>
    <%= f.label :naem, "チーム名" %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :average_age, "平均年齢" %>
    <%= f.number_field :average_age %>
    </p>
    <p>
    <%= f.label :active_area, "活動範囲" %>
    <%= f.select :active_area, Team.active_areas.keys %>
    </p>
    <p>
    <%= f.label :overview, "概要" %>
    <%= f.text_field :overview %>
    </p>
    <%= f.submit "作成" %>
<% end %>