<ul>
    <li>チーム名:<%= @team.name %></li>
    <li>平均年齢:<%= @team.average_age %></li>
    <li>活動エリア:<%= @team.active_area %></li>
</ul>
<h3>チームメンバー</h3>
<% @users.each do |user| %>
    <%= link_to user.name, "/profile/#{user.id}" %>
<% end %>
<% if !@teams_id.include?(@team.id) %>
    <%= form_with url: "/team/join/#{@team.id}", local: true do |f| %>
        <% f.submit "所属する" %>
    <% end %>
    <% if @current_team && @current_team.captain_id == @current_user.id %>
        <%= form_with url: "/talk/new/#{@team.id}", local: true do |f| %>
            <%= f.submit "試合申し込み" %>
        <% end %>
    <% end %>
<% end %>