<p><%= @team.name %></p>
<p><%= @team.active_area %></p>
<p><%= @team.average_age %></p>
<% @users.each do |user| %>
    <%= user.name %>
<% end %>
<% if !@teams_id.include?(@team.id) %>
    <%= form_with url: "/team/join/#{@team.id}", local: true do |f| %>
        <% f.submit "join" %>
    <% end %>
    <% if @current_team && @current_team.captain_id == @current_user.id %>
        <%= form_with url: "/talk/new/#{@team.id}", local: true do |f| %>
            <%= f.submit "talk" %>
        <% end %>
    <% end %>
<% end %>